/* Dot Label Module Styles */
.innotech-dot-label-module:nth-child(2) {
	position: relative;
	transform: translateY(200px);
}

.innotech-dot-label-module .sidebar-item {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 160px;
}

.innotech-dot-label-module .sidebar-item .dot {
	width: 8px;
	height: 8px;
	background-color: #ffffff;
	border-radius: 50%;
	flex-shrink: 0;
	will-change: width, height;
}

.innotech-dot-label-module .sidebar-item .label {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
}
